html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
}

.pagewrap {
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* CLASSES
------------------------------- */

.clearfix {
	clear: both;
}

.brown {
	background: #332f2d;
	color: #c0817a;
	padding: 24px 90px 60px 90px;
	height: auto;
}

.brown div.brown-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.brown h1{
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
    margin-top: 18px;
}

.brown div.brown-left{
	float:left;
	width:45%;
	min-width: 340px;
	max-width: 440px;
	padding-right: 28px;
}

.brown div.brown-right{
	float:left;
	width: 45%;
	min-width: 340px;
	max-width: 440px;
}

.brown p{
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
}

section.brown hr {
	height: 3px;
	background-color: #c0817a;
	color: #c0817a;
	text-align: left;
	margin: 40px 0px 45px 0px;
	border: none;	
}

section.photo, ul.photo {
	background: 50% 0 no-repeat;
	min-height: 700px;
	position: relative;
}

.chapterCover {
	background: no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 670px;
}

.chapterCover h1{
	color:#FFFFFF;
	font: 128px "Gentium Basic", Georgia, serif;
	font-weight: bold;
	margin: 0px;
	letter-spacing: -2px;
}

.chapterCover h2{
	color:#d83027;
	font: 32px "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 2px;
	text-shadow: 0px 1px rgba(0,0,0,200);
	margin: 0px;
}

div.caption {
	background: #fff;
	font: 16px "Apercu Regular", "Helvetica Neue", Helvetica, serif;
	line-height: 24px;
	padding: 24px;
	position: absolute;
	color: #d83027;
	clear: both;
}

/* FLEXSLIDER
------------------------------- */

div.flextitle {
	line-height: 60px;
	font-size: 54px;
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #fff;
	z-index: 10;
}

.flexslider {
	border: 0px;
	margin: 0px;
	min-height: 700px;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	margin: -20px 0 0; 
	background: url(../images/arrows.svg) no-repeat 0 0;
	overflow: visible !important; 
}

.flex-direction-nav .flex-next {
	background-position: 100% 0; 
	right: -70px; 
}

.flex-direction-nav .flex-prev {
	left: -70px;
}

.flex-control-nav {
	bottom: 20px;
}

.flex-control-paging li a {
	background: rgba(255, 255, 255, 0.75);
}

.flex-control-paging li a:hover {
	background: rgba(255, 255, 255, 0.9);
}

.flex-control-paging li a.flex-active {
	background: rgba(255, 255, 255, 1.0);
}


.slidecontainer {
	position: relative;
}

ul.slides .caption{
	position: absolute;
	z-index: 10;
	width: 400px;
}

li.slide {
	position: relative;
	min-height: 700px;
/* 	max-height: 1000px; */
	background-size: cover;
	background-position: center center;
	position: relative;
}


li.slide div.caption h1{
	font: 18px "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 8px;
	color: #d83027;
}



/* NAV
------------------------------- */
nav {
	background: #ffffff;
	color:#d83027;
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	position: fixed;
	z-index: 1000;
	right:0;
	top:0;
	width: 80px;
	text-align: center;
}

nav a{
	text-decoration: none;
	color:inherit;
}

nav a:hover{
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
}

nav ul{
	padding: 5px 0px 10px 0px;
	margin: 0px;
}

nav li{
	list-style: none;
	padding: 5px 0px 5px 0px;
}

nav li:hover{
	background: #d83027;
	color: #fff;
}


/* INTRO
------------------------------- */

#intro-cover {
	height: 700px;
	background: #ffffff;
	width: 100%;
	color: #473933;
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}	

#intro-cover-logo {
	background: url('../images/logo.jpg');
	width:270px;
	height: 319px;
	margin-top: 80px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

#intro-cover-scrollDown {
	background: url('../images/scrollDown.svg');
	width: 100px;
	height: 100px;
	margin-top: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-animation: scrollDown 2s 2s infinite;
	-webkit-animation-play-state: running;
	
	-moz-animation: scrollDown 2s 2s infinite;
	-moz-animation-play-state: running;
	
	-ms-animation: scrollDown 2s 2s infinite;
	-ms-animation-play-state: running;
	
	-o-animation: scrollDown 2s 2s infinite;
	-o-animation-play-state: running;
	
	animation: scrollDown 2s 2s infinite;
	animation-play-state: running;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	#intro-cover-scrolldown { 
	    height: 400px;
	    width: 400px;
    }
}

#intro-lifeIsHard {
	margin-top: 300px;
	background: url('../images/lifeIsHard.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 1320px;
}

#intro-lifeIsHard-container {
	text-align: center;
	height: 200px;
	padding-top: 30px;
}

#intro-lifeIsHard h1 {
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 54px;
	font-size-adjust:0.5; 
	letter-spacing: -2px;
	line-height: 68px;
	color: #d83027;
}

#intro-lifeIsHard h2 {
	font-family: "Gentium Basic", Georgia, serif;
	font-weight: bold;
	font-size: 32px;
	font-weight: normal;
	color: #332f2d;
	margin-top: 18px;
}


#intro-brown h1{
	max-width: 460px;
}

#intro-brown hr{
	width: 477px;
}



/* Q'EROS
================================================== */

#flexslider-qeros {
	height: 700px;
}

#qeros-cover {
	background-image: url('../images/sonia.jpg');
	position: relative;
}

#qeros-cover-container{
	position: absolute; 
	top: 300px;
	right: 220px;
}

#qeros-cover h2{
	margin-left: 10px;
}



#qeros-textile {
	background: url('../images/weaving.jpg') no-repeat;
	background-size: cover;
	background-position: 450px 50%;
	position: relative;
}

#qeros-textile p{
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 32px;
	color: #d83027;
	line-height: 40px;
	position: relative;
	z-index: 100;
}

#qeros-textile-container{
	width: 50%;
	min-width: 320px;
	max-width: 420px;
	margin-left: 90px;
	margin-top: 90px;
}

#qeros-crowd {
	background: url('../images/qeros-crowd.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 800px;	
}

#qeros-crowd .caption{
	width: 385px;
	top:60px;
	left: 50px;
}

#qeros-man {
	background: url('../images/qeros-man.jpg');
	background-position: center bottom;
	background-size: cover;
	min-height: 800px;	
}

#qeros-man .caption {
	width: 270px;
	top: 60px;
	left: 90px;
}


#qeros-silhouette {
	background: url('../images/qeros-silhouette.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 700px;	
}

#qeros-silhouette .caption{
	max-width: 370px;
	top: 100px;
	left: 90px;
/*
	background: transparent;
	color: #214374;
	font-size: 20px;
	line-height: 30px;
*/
}

#qeros-where {
	min-height: 650px;
	position: relative;
}

#qeros-where-globe {
	background: url('../images/qeros-where-globe.png') no-repeat;
	background-position: 300px 100px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 1000px;
	min-height: 400px;
}

#qeros-where-label-container {
	height: 300px;
	position: absolute;
	bottom:160px;
	right: 60px;
}

#qeros-where-label {
	background: #c0817a;
	color: #332f2d;
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	padding: 12px 12px 12px 12px;
}

#qeros-where-dottedline {
	background-image: url('../images/qeros-where-dot.png');
	background-size: contain;
	width: 5px;
	height: 330px;
	margin-top: -2px;
	margin-left: auto;
	margin-right: auto;
}

#qeros-where-container{
	width: 360px;
	position: absolute;
}

#qeros-where h1 {
	font-size: 48px;
	line-height: 56px;
}

#qeros-where hr {
	width: 350px;
}


#qeros-llamas {
	background: url('../images/qeros-llamas.jpg');
	background-position: left center;
	background-size: cover;
	min-height: 700px;	
}

#qeros-llamas .caption {
	width: 300px;
	bottom: 60px;
	right: 90px;
}

/* WILLKA YACHAY
================================================== */

#willka-cover {
	background-image: url('../images/willka-cover.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 800px;
	position: relative;
	text-align: center;
}


#willka-cover h1{
	font-size: 100px;
	line-height: 90px;
	padding-bottom: 16px;
	padding-top: 100px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#willka-cover h2{
	font-size: 24px;
	margin-left: 14px;
}

#willka-brown h1{
	max-width: 550px;
}

#willka-brown hr{
	width: 550px;
}

#willka-schools-title {
	position: absolute;
	top: 60px;
	left: 90px;
	width: 200px;
}

#willka-schools-cover {
	background: url('../images/willka-schools.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 700px;	
}

#willka-schools-cover .caption {
	width: 300px;
	bottom: 60px;
	right: 90px;
}

#willka-primary {
	background: url('../images/willka-primary.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 700px;	
}

#willka-primary .caption {
	width: 500px;
	top: 50px;
	right: 90px;
}

#willka-colegio {
	background: url('../images/willka-colegio.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 700px;	
}

#willka-colegio .caption {
	width: 500px;
	bottom: 60px;
	left: 50%;
	margin-left: -320px;
}


/* PROJECTS
================================================== */

#willka-projects-title {
	position: absolute;
	top: 60px;
	left: 90px;
	width: 200px;
	color: #d83027;
}

#willka-projects {
	position: relative;
}

#slide-foodsecurity {
	background-image: url('../images/projects-foodsecurity.jpg');
}

#slide-foodsecurity .caption {
	bottom:60px;
	left: 90px;
	max-width: 400px;
}

#slide-weavingcooperative {
	background-image: url('../images/projects-weavingcooperative.jpg');
}
#slide-weavingcooperative .caption {
	left:90px;
	bottom:60px;
}


#slide-musicpreservation {
	background-image: url('../images/projects-musicpreservation.jpg');
}
#slide-musicpreservation .caption {
	bottom:60px;
	right: 90px;
	max-width: 400px;
}

#slide-traditionalmedicine {
	background-image: url('../images/projects-traditionalmedicine.jpg');
}
#slide-traditionalmedicine .caption {
	bottom:60px;
	left: 90px;
	max-width: 380px;
}

#slide-incanmathematics {
	background-image: url('../images/projects-incanmathematics.jpg');
}
#slide-incanmathematics .caption {
	top:45%;
	left: 90px;
	max-width: 300px;
}

#slide-alternativeenergy {
	background-image: url('../images/projects-alternativeenergy.jpg');
	background-position: left center;
}
#slide-alternativeenergy .caption {
	bottom:60px;
	right: 90px;
	max-width: 400px;
}

/* STUDENTS
================================================== */

#willka-students {
	position: relative;
}

#willka-students-title {
	position: absolute;
	top: 60px;
	left: 90px;
	width: 200px;
}

#slide-students-0 {
	background-image: url('../images/slide-students-0.jpg');
}
#slide-students-1 {
	background-image: url('../images/slide-students-1.jpg');
}
#slide-students-2 {
	background-image: url('../images/slide-students-2.jpg');
}
#slide-students-3 {
	background-image: url('../images/slide-students-3.jpg');
}
#slide-students-3b {
	background-image: url('../images/slide-students-3b.jpg');
}
#slide-students-4 {
	background-image: url('../images/slide-students-4.jpg');
}
#slide-students-5 {
	background-image: url('../images/slide-students-5.jpg');
}
#slide-students-6 {
	background-image: url('../images/slide-students-6.jpg');
}
#slide-students-7 {
	background-image: url('../images/slide-students-7.jpg');
}
#slide-students-8 {
	background-image: url('../images/slide-students-8.jpg');
}
#slide-students-9 {
	background-image: url('../images/slide-students-9.jpg');
}
#slide-students-10 {
	background-image: url('../images/slide-students-10.jpg');
}
#slide-students-11 {
	background-image: url('../images/slide-students-11.jpg');
}
#slide-students-12 {
	background-image: url('../images/slide-students-12.jpg');
}


/* ABOUT
================================================== */

#about-title{
	max-width: 1000px;
	margin-left: auto;
	margin-right:auto;
}

#about-team {
	max-width: 1000px;
	margin-left: auto;
	margin-right:auto;
}

#about-team h1, #about-bottom-container h1{
	font-size: 24px;
	margin-bottom: 20px;
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
}

#about-title h1{
	font-size: 54px;
	margin-top: 30px;
}

#about-title hr {
	width: 230px;
}

#about-team-ul {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

#about-team-ul li {
	position: relative;
	float: left;
	width: 150px;
	height: 200px;
	margin: 15px;
	margin-left: 0px;
}

#about-team .about-team-container {
	width: 150px;
	height: 150px;
	overflow: hidden;
}

#about-team .about-team-container img{
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 4px 12px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0px 4px 12px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 4px 8px rgba(0,0,0,0.8);
}

#about-team li h1{
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
}

#about-bottom-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 30px;
}

#about-allies {
	min-width: 500px;
}

#about-allies img{
	max-width: 200px;
	max-height: 60px;
	margin: 0px 18px 24px 0px;
	float: left;
}

#about-story {
	margin-right: 20px;
}

#donate {
	min-height: 700px;
	position: relative;
	background: #fff;
	width: 100%;
	color: #d83027;
/* 	max-width: 1000px; */
	margin-left: auto;
	margin-right: auto;
}

#donate h1 { 
	line-height: 50px;
	font-size: 45px;
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	color: #d83027;
	z-index: 10;
    max-width: 250px;
}

#donate h2 { 
	font-family: "Gentium Basic", Georgia, serif;
	font-weight: bold;
	font-size: 32px;
	color: #d83027;
	line-height: 40px;
}

#donate h3 { 
	line-height: 40px;
	font-size: 18px;
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	color: #d83027;
	z-index: 10;
    max-width: 250px;
    margin-bottom: 20px;
}

#donate p {
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
	color: #d83027;
	line-height: 28px;
}

#donate hr {
	height: 3px;
	background-color: #d83027;
	color: #d83027;
	margin: 20px 0px 40px 0px;;
	border: none;	
	width: 202px;
	text-align: left;
}

#donate-text{
	position: relative;
	z-index: 2;
	margin: 10px;
	padding-left: 80px;
	padding-bottom: 20px;
	border: 10px solid #d83027;
	margin: 12px;
	background: #fff;
	padding: 30px;
	width: 50%;
	height: 620px;
}

#donate-photo {
	z-index: 0;
	position: absolute;
	right: 12px;
	top:0;
	height: 700px;
}

#donate-photo img{
	height: 100%;
}

#donate-button {
	margin: 40px 0px 10px 0px;
	cursor: pointer;
	padding: 15px;
	font-family: "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	color: #fff;
	line-height: 36px;
	background: #d83027;
	border-radius: 2px;
	border: 4px solid #d83027;
	width: 90%;
}

#donate-button:hover {
	background: #fff;
	color:#d83027;
}

#donate-button:active {
	background: #d83027;
	color:#fff;
}

#donate-donate p{
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 14px;
	line-height: 20px;
	margin-top:20px;
	color: #d83027;
}

footer {
	background-image: url(../images/footer.jpg);
	background-position: center center;
	background-size: cover;
	min-height: 700px;
	position: relative;
	color: #fff;
	text-align: center;
}

#footer-container {
	margin: auto;
	max-width: 500px;
	padding-top: 100px;
}


#footer-contact, #footer-mailchimp {
	margin-bottom: 80px;
}

#footer-container hr {
	height: 3px;
	background-color: #fff;
	color: #fff;
	margin: 24px auto 24px auto;
	border: none;	
	width: 400px;
	text-align: center;
}

#footer-container h1 {
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	line-height: 36px;
}

#footer-contact a{
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	line-height: 36px;
	text-decoration: none;	
	color:#fff;
}

#footer-contact a:hover{
	color: #d83027;
}

#mc-embedded-subscribe{
	margin-top: 10px;
	cursor: pointer;
	width: 360px;
	padding: 10px;
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	color: #332f2d;
	line-height: 36px;
	background: #fff;
	border-radius: 2px;
	border: none;
}

#mc-embedded-subscribe:hover, #mc-embedded-subscribe:active {
	background: #d83027;
	color:#fff;
}



#footer-mailchimp input[type=email]{
	font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;    
	width: 380px;
    font-weight: normal;
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 2px dotted #fff;
    margin-bottom: 24px;
    background-color: transparent;
    text-align: center;
}

#footer-mailchimp input[type=email]:focus {
	color: #fff;
    border-bottom: 2px dotted #fff;
    outline: none !important;
}

#footer-mailchimp input[type=email]:hover {
	background: #d83027;
	color: #fff;
    border-bottom: 2px dotted #fff;
    outline: none !important;
}

::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}

#footer-social {
	text-align: center;
	width: 400px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

#footer-social a{
	width: 85px;
	height: 36px;
	background-position: top center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}
#footer-social a:hover{
	background-position: bottom center;
}

.footer-social-twitter {
	background-image: url(../images/twitter.svg);
}
.footer-social-facebook {
	background-image: url(../images/facebook.svg);
}
.footer-social-instagram {
	background-image: url(../images/instagram.svg);
}



#copyright{
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 13px;
	width: 400px;
	margin: 0px auto;
	padding-bottom: 60px;
}

/* ANIMATIONS
================================================== */


@-webkit-keyframes scrollDown
{
	0%		{-webkit-transform: translateY(0px);}
	11%		{-webkit-transform: translateY(15px);}
	22%		{-webkit-transform: translateY(0px);}
	33%		{-webkit-transform: translateY(15px);}
	44%		{-webkit-transform: translateY(0px);}
}
	
	@-moz-keyframes scrollDown
	{
		0%		{-moz-transform: translateY(0px);}
		11%		{-moz-transform: translateY(15px);}
		22%		{-moz-transform: translateY(0px);}
		33%		{-moz-transform: translateY(15px);}
		44%		{-moz-transform: translateY(0px);}
	}
	
	@-ms-keyframes scrollDown
	{
		0%		{-ms-transform: translateY(0px);}
		11%		{-ms-transform: translateY(15px);}
		22%		{-ms-transform: translateY(0px);}
		33%		{-ms-transform: translateY(15px);}
		44% 	{-ms-transform: translateY(0px);}
	}
	
	@-o-keyframes scrollDown
	{
		0%		{-o-transform: translateY(0px);}
		11%		{-o-transform: translateY(15px);}
		22%		{-o-transform: translateY(0px);}
		33%		{-o-transform: translateY(15px);}
		44%		{-o-transform: translateY(0px);}
	}
	
	@keyframes scrollDown
	{
		0%		{transform: translateY(0px);}
		11%		{transform: translateY(15px);}
		22%		{transform: translateY(0px);}
		33%		{transform: translateY(15px);}
		44%	    {transform: translateY(0px);}
	}
	

@font-face {
	font-family: 'Apercu Regular';
	src: url('../apercu_regular.otf');
}

@font-face {
	font-family: 'Apercu Bold';
	src: url('../apercu_bold.otf');
}
